html, body { 
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    line-height: 60px;
    padding: 20px;
    background-color: palegoldenrod;
}

h1 {
    margin: 0;
    float: left;
}

ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    float: left;
    margin: 10px;
}

.content {
    width: 70%;
    background-color: lightgrey;
    min-height: 500px;
    float: left;
}

.blog-post {
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-color: lightgray;
    border-radius: 0px;
    float: left;

}

.img {
    float: left;
}

.sidebar {
    width: 30%;
    background-color: darkgrey;
    text-decoration: white;
    min-height: 500px;
    float: right;

}


ul li a {
    color: #000;
    text-decoration: none;
}
